/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

$font-family-sans-serif: "Roboto", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;
$presentation-heading-font: "Sorts Mill Goudy";
$presentation-heading-color: #545454;
$code-block-font-size: 0.6em;
$code-color: #6b7ea3;
$presentation-h2-font-size: 1.4em;
$link-color: #6b7ea3 !default;

/*-- scss:rules --*/

.title {
  opacity: 0 !important;
}
